
html, body
{
}

    #container
    {
        position: absolute;
        left: 0; right: 0;
        bottom: 0; top: 0;
        background: white;
    }

        /* Generic */

        .windows
        {
            /background: #d4fbf5;
            background: #F9F8F6;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 1.5px solid #d4d4d4;
        }

        /* Windows */

        #container
        {
            height: 100%;
        }

            #chatHistory, #contacts
            {
                height: 100%;
            }

            #chatHistory
            {
                width: 100%;
                overflow-y: auto;
                background: url('../icons/ring-0.4.svg') no-repeat center;
                background-size: 15%;
            }
                .chatHistoryItem
                {
                    height: auto;
                    width: 98%;
                    margin: 1%;
                    overflow: hidden;
                }

                    /* All children */
                    .chatHistoryItem > *
                    {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .chatHistoryItemImage
                    {
                        position: relative;
                        width: 4em;
                        height: 4em;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                    }

                        /* Placeholder FontAwesome icon */
                        .chatHistoryItemImage > i
                        {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            opacity: 0.8;
                        }

                    .chatHistoryItemText
                    {
                        width: auto;
                        height 98%;
                        margin: 1%;
                        padding: 1% 2%;
                        border: 0.5px solid #d4d4d4;
                        border-radius: 2px 2px 2px 2px;
                        -moz-border-radius: 2px 2px 2px 2px;
                        -webkit-border-radius: 2px 2px 2px 2px;
                        background: #AAEBEB;
                    }

                        .chatHistoryItemText > p
                        {
                            margin: 2%;
                        }

            #chatReply
            {
                width: 100%;
            }

                #chatReply input
                {
                    border: none;
                    background: none;
                }

        #sidebarContacts
        {
            /background: #f8f8f0;
        }
            #sidebarContacts .item:hover
            {
                background: none;
            }

            #searchContacts
            {
                width: 100%;
                margin-bottom: 1.5%;
            }
                #searchContacts .results
                {
                    background: #E8E8E8;
                }

                #searchContacts .ui.icon.input
                {
                    width: 100%;
                    background: #E8E8E8;
                    border: 1.5px solid white;
                    border-radius: 2px 2px 2px 2px;
                    -moz-border-radius: 2px 2px 2px 2px;
                    -webkit-border-radius: 2px 2px 2px 2px;
                }

                #searchContacts input
                {
                    border: none;
                    background: none;
                }

            #contacts
            {
                width: 100%;
                overflow: hidden;
                overflow-y: auto;
            }

                .contact
                {
                    /max-height: 3.3em;
                    /overflow: hidden;
                }

                #contacts .label
                {
                    width: 98%;
                    margin: 1%;
                    margin-bottom: 0;
                    border: 1.5px solid white;
                    border-radius: 2px 2px 2px 2px;
                    -moz-border-radius: 2px 2px 2px 2px;
                    -webkit-border-radius: 2px 2px 2px 2px;

                    cursor: pointer;
                    font-size: 1.2em;
                    opacity: 0.8;
                    background: #E8E8E8;
                }
                    #contacts .label:hover
                    {
                        opacity: 1;
                    }

                #contacts .text
                {
                    /width: 5em;
                    overflow: hidden;
                    font-style: normal;
                    font-weight: normal;
                }

                #contacts .notifications
                {
                    width: auto;
                    float: right;
                    margin-top: 1em;
                    font-size: 0.5em;
                    font-style: normal;
                }

                #contacts .options
                {
                    float: right;
                    margin: 0.2em 0 0 .5em;
                    opacity: .5;
                }

                #contacts #addContact
                {
                    height: 3em;
                    text-align: center;
                    margin: 1%;
                    opacity: 0.8;
                    color: black;
                    background: #E8E8E8;
                    border: 1.5px solid white;
                    border-radius: 2px 2px 2px 2px;
                    -moz-border-radius: 2px 2px 2px 2px;
                    -webkit-border-radius: 2px 2px 2px 2px;
                }
                    #contacts #addContact:hover
                    {
                        opacity: 1;
                    }

                    #contacts #addContact > i
                    {
                        line-height: 3em;
                    }

