
html, body
{
}

    #container
    {
        position: absolute;
        left: 0; right: 0;
        bottom: 0; top: 0;
        background: white;
    }

        /* Generic */

        .windows
        {
            background: #e8fffb;
            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 1.5px solid #d4d4d4;
        }

        /* Windows */

        #container
        {
            height: 100%;
        }

        #container #top
        {
            height: 5%;
            background: #a7d1c9;
        }

        #container #left, #container #right
        {
            height: 90%;
            margin: 1% 0 1% 0;
        }

            #chatHistory, #contacts
            {
                height: 94%;
            }

        #container #left
        {
            width: 66.5%;
            float: left;
            margin-left: 1%;
        }

            #chatHistory
            {
                width: 100%;
                overflow-y: auto;
            }

                .chatHistoryItem
                {
                    height: auto;
                    width: 98%;
                    margin: 1%;
                    overflow: hidden;
                }

                    /* All children */
                    .chatHistoryItem > *
                    {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .chatHistoryItemImage
                    {
                        position: relative;
                        width: 4em;
                        height: 4em;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        /*background: #d7f5f0;*/
                    }

                        /* Placeholder FontAwesome icon */
                        .chatHistoryItemImage > i
                        {
                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            opacity: 0.8;
                        }

                    .chatHistoryItemText
                    {
                        width: 80%;
                        height 98%;
                        margin: 1%;
                        border-radius: 10px 10px 10px 10px;
                        -moz-border-radius: 10px 10px 10px 10px;
                        -webkit-border-radius: 10px 10px 10px 10px;
                        background: #d7f5f0;
                        /*border: 0.5px solid #d4d4d4;*/
                    }

                        .chatHistoryItemText > p
                        {
                            margin: 2%;
                        }

            #chatReply
            {
                width: 100%;
                margin-top: 1%;
            }

                #chatReply input
                {
                    border: none;
                    background: none;
                }

        #container #right
        {
            width: 30%;
            float: right;
            margin-right: 1%;
        }

            #searchContacts
            {
                width: 100%;
                margin-bottom: 1.5%;
            }

                #searchContacts .ui.icon.input
                {
                    width: 100%;
                }

                #searchContacts input
                {
                    border: none;
                    background: none;
                }

            #contacts
            {
                width: 100%;
                overflow: hidden;
                overflow-y: auto;
            }

                /* All child items */
                #contacts > *
                {
                    width: 98%;
                    margin: 1%;
                    overflow: hidden;
                    border-radius: 2px 2px 2px 2px;
                    -moz-border-radius: 2px 2px 2px 2px;
                    -webkit-border-radius: 2px 2px 2px 2px;
                    background: #d7f5f0;
                    cursor: pointer;
                }

                #contacts #addContact
                {
                    height: 3em;
                    text-align: center;
                }
                    #contacts #addContact:hover
                    {
                        background: #cbf2eb;
                    }

                    #contacts #addContact > i
                    {
                        line-height: 3em;
                    }

                .contactsItem
                {
                }
                    .contactsItem:hover
                    {
                        background: #cbf2eb;
                    }

                    /* All children */
                    .contactsItem > *
                    {
                        display: inline-block;
                        text-align: center;
                        vertical-align: middle;
                        float: left;
                        margin: 2%;
                    }

                    .contactsItemImage
                    {
                        position: relative;
                        width: 3em;
                        height: 3em;
                        overflow: hidden;
                        border-radius: 50%;
                        -moz-border-radius: 50%;
                        -webkit-border-radius: 50%;
                        background: #d7f5f0;
                    }

                        /* Placeholder FontAwesome icon */
                        .contactsItemImage > i
                        {
                            display: inline-block;
                            text-align: center;
                            vertical-align: middle;
                            opacity: 0.8;
                        }

                    .contactsItemText
                    {
                        padding: 0 2%;
                        overflow: hidden;
                    }

                        .contactsItemText > p
                        {
                        }

                    .contactsItemOptions
                    {
                        width: 5%;
                        height: auto;
                        float: right;
                        padding: 0.3%;
                        margin-top: 0.8em; /* FIXME: verical-align hack */
                        border-radius: 2px 2px 2px 2px;
                        -moz-border-radius: 2px 2px 2px 2px;
                        -webkit-border-radius: 2px 2px 2px 2px;
                    }

                        /* FontAwesome icon */
                        .contactsItemOptions > i
                        {
                            width: 100%;
                            text-align: center;
                            opacity: 0.8;
                        }

